@tailwind base;
@tailwind components;

@font-face {
    font-family: "thank you";
    src: url("../public/fonts/Thank you.ttf");
}

@font-face {
    font-family: "wenyue";
    src: url("../public/fonts/WenyueType.otf");
}

@font-face { 
    font-family : "copperplate" ; 
    src : url("../public/fonts/copperplatebold.ttf") ; 
}

@font-face {
    font-family: "amibata";
    src: url("../public/fonts/Amibata.otf");
}

@font-face {
    font-family: "firefly";
    src: url("../public/fonts/firefly.otf");
}

@tailwind utilities;

.bartext { 
    @apply font-copperplate text-grain-brown text-lg
}