@tailwind base;
@tailwind components;

@font-face {
    font-family: "thank you";
    src: url("../public/fonts/Thank you.ttf");
}

@font-face {
    font-family: "wenyue";
    src: url("../public/fonts/WenyueType.otf");
}

@font-face { 
    font-family : "copperplate" ; 
    src : url("../public/fonts/copperplatebold.ttf") ; 
}

@font-face {
    font-family: "amibata";
    src: url("../public/fonts/Amibata.otf");
}

@font-face {
    font-family: "firefly";
    src: url("../public/fonts/firefly.otf");
}

@font-face { 
    font-family : "melinda" ; 
    src : url("../public/fonts/Melinda.otf");
}

@font-face { 
    font-family : "chawan" ; 
    src : url("../public/fonts/chawan.ttf") ;
}

@tailwind utilities;

.bartext { 
    @apply font-copperplate text-grain-brown text-lg
}

.center { 
    @apply left-1/2 top-1/2  transform -translate-x-1/2 -translate-y-1/2 whitespace-nowrap
}

.heading { 
    @apply text-pickled-bluewood  drop-shadow whitespace-nowrap text-base xs:text-lg sm:text-3xl md:text-5xl
}

.text-normal { 
    @apply text-xs xs:text-base md:text-base text-pickled-bluewood
}